<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      {%- include logo.html -%}
      {% assign navgroup = page.navgroup%}
      {%- include sidebar.html -%}
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      {%- include navbar.html -%}
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h3>{{page.title}}</h3>
              </div>
              <div class="card-body ">
                {%- include aqi.html -%}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h3>Wind Information</h3>
              </div>
              <div class="card-body ">
                <<iframe width="650" height="450"
        src="https://embed.windy.com/embed2.html?lat=41.164&lon=-121.014&detailLat=41.257&detailLon=-73.211&width=650&height=450&zoom=10&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=%C2%B0F&radarRange=-1"
        frameborder="0"></iframe>
                <p>For Wind Direction, see <a href="https://firemap.sdsc.edu" target="_blank">WIFIRE</a>. The team has posted <a href="https://www.youtube.com/channel/UCAiJsj7D0hbjoRyWC959RSg" target="_blank">tutorials</a> on how to use this visualization on YouTube.</p>
                <p>Smoke Maps are available from EPA: <a href="https://fire.airnow.gov/?lat=39.321342&lng=-120.864174&zoom=12#" target="_blank">AirNow</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {%- include footer.html -%}
    </div>
  </div>

</body>

</html>
