<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      {%- include logo.html -%}
      {% assign navgroup = page.navgroup%}
      {%- include sidebar.html -%}
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      {%- include navbar.html -%}
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h3>White Cloud Sensor</h3>
              </div>
              <div class="card-body ">
                {%- include aqi.html -%}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h3>Peardale Sensor (Grass Valley)</h3>
              </div>
              <div class="card-body ">
                <div id='PurpleAirWidget_104426_module_AQI_conversion_C0_average_10_layer_standard'>Loading PurpleAir Widget...</div>
                <script src='https://www.purpleair.com/pa.widget.js?key=OIH7PVGFGQ31K46Q&module=AQI&conversion=C0&average=10&layer=standard&container=PurpleAirWidget_104426_module_AQI_conversion_C0_average_10_layer_standard'></script>
            </div>
          </div>
         </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h3>Wind Information</h3>
              </div>
              <div class="card-body ">
                <p>For Wind Direction, see <a href="https://firemap.sdsc.edu" target="_blank">WIFIRE</a>. The team has posted <a href="https://www.youtube.com/channel/UCAiJsj7D0hbjoRyWC959RSg" target="_blank">tutorials</a> on how to use this visualization on YouTube.</p>
                <p>Smoke Maps are available from EPA: <a href="https://fire.airnow.gov/?lat=39.321342&lng=-120.864174&zoom=12#" target="_blank">AirNow</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {%- include footer.html -%}
    </div>
  </div>

</body>

</html>
