<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      {%- include logo.html -%}
      {% assign navgroup = page.navgroup%}
      {%- include sidebar.html -%}
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      {%- include navbar.html -%}
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fas fa-lungs text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">AQI</p>
                      <p class="card-title aqi"><a href="{{ BASE_PATH }}/aqi/">View Sensor</a><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  <a href="{{ BASE_PATH }}/aqi/">View Whitecloud Sensor</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fas fa-chart-pie text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Containment</p>
                      <p class="card-title">15%<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                  2021-08-05 21:04 PDT
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                        <i class="fas fa-draw-polygon text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Acreage/Size</p>
                      <p class="card-title">2600<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i>
                  2021-08-05 19:00 PDT
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fas fa-fire text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Latest Brief</p>
                      <p class="card-title">CalFire<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  <a href="https://twitter.com/CALFIRENEU/status/1423469853608796160" target="_blank">View 5 Aug 7PM Brief</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Nevada County OES</h5>
                <p class="card-category">Briefs and Info</p>
              </div>
              <div class="card-body ">
<a class="twitter-timeline" href="https://twitter.com/NevCoOES?ref_src=twsrc%5Etfw">Tweets by NevCoOES</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>            <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated (tbd)
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">CA Fires Twitter List</h5>
                <p class="card-category">CalFire and CA Fire Follows</p>
              </div>
              <div class="card-body ">
              <a class="twitter-timeline" href="https://twitter.com/jcrowley/lists/1423112804681269249?ref_src=twsrc%5Etfw">A Twitter List by jcrowley</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i>Updated (tbd)
                </div>
              </div>
            </div>
          </div>


      </div>

      {%- include footer.html -%}
    </div>
  </div>
</body>
</html>
