<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      {%- include logo.html -%}
      {% assign navgroup = page.navgroup%}
      {%- include sidebar.html -%}
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      {%- include navbar.html -%}
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                {{page.title}} from <a href="https://firemap.sdsc.edu">WIFIRE</a> (wind, updated 7 Aug 12:03 PDT)
              </div>
              <div class="card-body ">
                <img src="{{ BASE_PATH }}/assets/img/posts/20210807095535_wind.png" >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                NAPSG FireMappers 3D <a href="https://napsg.maps.arcgis.com/apps/webappviewer3d/index.html?id=05da2b8de1f243fe80db3efa20e4c026">FireMappers</a>
              </div>
              <div class="card-body ">
                <img src="{{ BASE_PATH }}/assets/img/posts/202108060610_napsg_3d.png" >
              </div>
            </div>
          </div>
        </div>
      </div>




      {%- include footer.html -%}
    </div>
  </div>

</body>

</html>
